# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf
reference-databases/SnomedRfsMySql/
reference-databases/Loinc/
reference-databases/Loinc_2.71_Text_2.71.zip
reference-databases/snomed-release-service-4.4.0.zip
reference-databases/SnomedRfsMySql.zip
/.idea/
/_gsdata_/
reference-databases/snomed/SnomedRfsMySql/
